<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <jsp-config>
        
        <jsp-property-group>
            <display-name> Configuration for main pages</display-name>
            <url-pattern>/WEB-INF/dashboard.jsp</url-pattern>
            <url-pattern>/WEB-INF/menu.jsp</url-pattern>
            <url-pattern>/WEB-INF/events.jsp</url-pattern>
            <url-pattern>/WEB-INF/foods.jsp</url-pattern>
            <url-pattern>/WEB-INF/catMenu.jsp</url-pattern>
            
            
            <url-pattern>/WEB-INF/admin/admindashboard.jsp</url-pattern>
            <url-pattern>/WEB-INF/admin/addFoods.jsp</url-pattern>
            <url-pattern>/WEB-INF/admin/addEvents.jsp</url-pattern>
            <url-pattern>/WEB-INF/admin/addCategories.jsp</url-pattern>
            <url-pattern>/WEB-INF/admin/reservationView.jsp</url-pattern>
            <url-pattern>/WEB-INF/admin/updateFood.jsp</url-pattern>
            
            <url-pattern>/index.jsp</url-pattern>
            
            
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>

            
        </jsp-property-group>
    </jsp-config>
</web-app>
